.matrixEventContainer { 
  border-bottom: 1px solid #000;
  padding: 5px;
}

.matrixEventInfo { 
  font-size: 10px;
  text-align: left;
}

.matrixEventTimestamp { 
  padding-right: 5%;
  text-align: right;
}

.matrixEventBody { 
  padding-left: 10%;
}


.messageHistoryWindow {
  flex-grow: 1;
  overflow-y: auto;
}

.messageWriteWindow {
  display: flex;
  align-items: center;
  padding: 10px;
}

.messageWriteWindow input {
  flex-grow: 1;
  margin-right: 10px;
}
