<h1>A plain matrix web client</h1>

<p style="font-size: 8px; border: 1px solid #000; ">
This is not a good way to use matrix! (probably). 
(You are woman in the middling yourself on all your 
unencrypted data (lots of metadata), and the rails server
could send messages on your behalf)
Instead of using the client side matrix javascript sdk 
(you make the connections from your browser) 
<br>
this app works by having your browser make a connection to a server 
which then makes the connection to the matrix server and sends 
back the data to your browser. 
This is an unnecessary step and is only there because this is a contrived 
sample app but I didn't want to write a TODO app.    
</p>

<%= react_component("Home",
                    props: @home_props,
                    prerender: false) %>


